<head>
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
</head>
<center><h2 style="font-family: 'Freckle Face';font-size: 150px;">Welcome</h2></center>

<% if current_user %>
  <p>
    <center><%= current_user.username %></center>
  </p>
</br>
</br>
<center style="font-family: 'Freckle Face';font-size: 96px;"><a href="/users/<%= current_user.id %>">Articles</a></center>
<center style="font-family: 'Freckle Face';font-size: 96px;"><a href="/users/<%= current_user.id %>"><%= link_to "Log-Out", log_out_path, method: :delete %></center>
<% else%>
  <center><%= link_to "Log-In", log_in_path %></center>
  <center><%= link_to "Sign-Up", new_user_path %></center>
<% end %>
