

<head>
 <link href='http://fonts.googleapis.com/css?family=Hanalei|Miss+Fajardose|Macondo|Jim+Nightshade|Dr+Sugiyama|Princess+Sofia|Akronim|Mrs+Saint+Delafield|Ruthie|Jacques+Francois+Shadow|Rye|Aguafina+Script|Lovers+Quarrel|Lancelot|Rouge+Script|Jacques+Francois|Freckle+Face|Euphoria+Script|Dynalight|Meie+Script|MedievalSharp|Oleo+Script+Swash+Caps|Meddon|Grand+Hotel|Cinzel+Decorative|Lily+Script+One|Sunshiney|Petit+Formal+Script|Sacramento|Fredericka+the+Great|Gilda+Display|Croissant+One|Quintessential|Stalemate|Almendra+Display|Elsie+Swash+Caps|Elsie|Clicker+Script|Fruktur|Julius+Sans+One' rel='stylesheet' type='text/css'>

</head>

<div id="container">
  <% font_fam_var = ['Miss Fajardose', 'Macondo', 'Jim Nightshade', 'Dr Sugiyama', 'Princess Sofia', 'Mrs Saint Delafield', 'Ruthie', 'Aquafina Script', 'Lovers Quarrel', 'Lancelot', 'Rouge Script', 'Jacques Francois','Freckle Face','Euphoria Script', 'Dynalight', 'Meie Script', 'Oleo Script Swash Caps', 'Grand Hotel', 'Lily Script One', 'Sunshiney', 'Petit Formal Script','Sacramento', 'Gilda Display', 'Croissant One','Quintessential', 'Stalemate', 'Almandra Display','Elsie Swash Caps','Clicker Script', 'Fruktur' ] %>
  <h2 id="background6" style="font-family:'<%= font_fam_var %>.sample';"><%= @poem3 %>.</h3>

    <div id="header">
      <% color_var = ['white','black','white','white','white'].sample %>
      <h1 style="color:<%= color_var %>; font-family:'<%= font_fam_var %>.sample'"><%= @poem1 %>.</h1>
    </div>
    <div id="header2">
      <% color_var = ['white','black','white'].sample %>
      <h2 style="color:<%= color_var %>; font-family:'<%= font_fam_var %>.sample'"><%= @poem2 %>.</h2>
    </div>

    <div id="poem2background">
      <% color_var = ['white','black','white','white','white'].sample %>
      <p style="color:<%= color_var %>; font-family:'<%= font_fam_var %>.sample'"><%= @poem3 %></p>
    </div>
    <div id="background13" style="width: 600px">
      <div id="inner" style="width: 250px; margin: 0 auto;">

        <ul>
          <% @list_item1.each do |line| %>
          <% font_var = rand(80..120) %>
          <li style="color:white;font-family:'<%= font_fam_var %>.sample';font-size:<%= font_var %>px;"><%= line.gsub(/["',.(){}]/, " ") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="background10" style="width: 600px;">
      <div id="inner" style="width: 250px; margin: 0 auto;">
        <ul>
          <% @list_item4.each do |line| %>
          <% color_var = ['white','black','white','white'].sample %>
          <% font_var = [150,250].sample %>
          <li style="color:<%= color_var %>;font-size:<%= font_var %>px;font-family:'<%= font_fam_var %>.sample'"><%= line.gsub(/["',.(){}]/, " ") %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="background11" style="width: 600px;">
      <div id="inner" style="width: 250px; margin: 0 auto;">
        <ul>
          <% @list_item5.each do |line| %>
          <% color_var = ['white','black','white','white'].sample %>
          <% font_var = rand(120..185) %>
          <li style="color:<%= color_var %>;font-size:<%= font_var %>px;font-family: '<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% float_var = ['left','right'].sample %>

    <div id="background12">
      <div id="inner">
        <ul>
          <% @list_item1.each do |line| %>
          <% color_var = ['white','black','white'].sample %>
          <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="background9">
      <ul>
        <% color_var = ['white', 'white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>';"><%= @list_item2.join(" ") %></li>
      </ul>
    </div>
    <div id="background8" >
      <ul>
        <% @list_item2.each do |line| %>
        <% color_var = ['white','black','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div>
    <!-- <div id="background5">
      <ul>
        <% @list_item3.each do |line| %>
        <% color_var = ['white','black','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div> -->

    <div id="background7" >
      <ul>
        <% @list_item4.each do |line| %>
        <% color_var = ['white','white','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div>

    <div id="background4" >
      <ul>
        <% @new_arr.each do |line| %>
        <% color_var = ['white','black'].sample %>
        <li><p style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></p></li>
        <% end %>
      </ul>
    </div>
    <div id="background3" >
      <ul>
        <% @list_item1.each do |line| %>
        <% color_var = ['white','black','white','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div>
    <div id="background2">
      <ul>
        <% @list_item4.each do |line| %>
        <% color_var = ['white','black','white','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div>
    <div id="background" >
      <ul>
        <% @new_arr.each do |line| %>
        <% color_var = ['white','black','white','white'].sample %>
        <li style="color:<%= color_var %>;font-family:'<%= font_fam_var.sample %>'"><%= line.gsub(/["',.(){}]/, " ") %></li>
        <% end %>
      </ul>
    </div>
  </div>





